@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Nunito",sans-serif;
    background:black;
    color: #e7e7e7;
  }

header::before{
    background: url('https://source.unsplash.com/1600x900/?scenery,tourist') no-repeat center center/cover;
    content: "";
    position: absolute;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    opacity: 0.4;
}

.navi {
    font-family: 'Bree Serif', serif;
    font-size: 20px;
    display: flex;
}

.li {
    text-decoration: none;
    padding: 20px 23px;
    color:#e7e7e7;
}
.li:hover{
    cursor: pointer;
    color:aqua;
    text-shadow: 1px 1px 2px black;
    transition: all 0.3s;
}

.videos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 6rem;
}

.instr{
    font-family: 'Otomanopee One', sans-serif;
    color: white;
    font-size: 1.2rem;
}
.chvideo{
    margin-right:17px;
}
.last{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8pc;
}

.under{
    color:aqua;
    border:2px solid transparent;
    border-bottom-color: aqua;
}